* {
    margin: 0;
    padding: 0;
}

html,
body,
#app,
.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: "Microsoft Yahei", "微软雅黑", 'PingFang SC', "Helvetica Neue", Helvetica,  arial, STHeiTi, sans-serif;
}

a {
    text-decoration: none
}
i{
		outline: none;
	}